.input-field {
  display: flex;
  flex-direction: column;
  align-items: start;
  width: 100%;
}

.input-field__label {
  padding: 0 0 4px 6px;
  color: #525252;
  font-size: 14px;
  font-weight: bold;
}

.input-field__input {
  width: 100%;
  padding: 10px 0 10px 6px;
  border: 1px solid #3F3F3F;
  font-size: 14px;
  font-family: 'Source Sans Pro', sans-serif;
  color: #716969;
}

.input-field__input:focus {
  outline: none;
}

.input-field__input::placeholder {
  color: #C5C5C5;
}
